/* Utilities and animations */

@keyframes skeleton-pulse {
    0% {
        background-color: #0d1117;
    }

    50% {
        background-color: #161b22;
    }

    100% {
        background-color: #0d1117;
    }
}

.skeleton-element {
    animation: skeleton-pulse 1.5s infinite ease-in-out;
    background-color: #0d1117;
}

#no-results {
    padding: 60px 20px;
    text-align: center;
    color: #8b949e;
    width: 100%;
    display: none;
}

.no-results-portfolio {
    padding: 30px 20px;
}

.no-results-content h3 {
    color: white;
    margin-bottom: 5px;
}
